/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require style
*= require font-awesome/css/all.min
*= require jquery-confirm.min
*= require_self
*/

nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark.rounded {
    /* background: #2196f3!important; */
    /* border-radius: 0 !important; */
}

main.list-view-container.col-sm-9.ml-sm-auto.col-md-10.pt-3 {
    max-width: 100.00% !important;
    flex: 0 0 100%;
}

.bus-system-list-view.card .card-body {
    padding: 0;
}

.bus-system-list-view.card .table .thead-dark th {
    color: #ffffff;
    background-color: #0089f7!important;
    border-color: #f2f2f2;
    text-align: center;
    padding: 6px;
    font-size: 14px;
    font-weight: 600;
}

.bus-system-list-view .table-bordered th, .bus-system-list-view .table-bordered td {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 0.2rem;
    vertical-align: middle;
}

.bus-system-list-view span.badge.badge-success {
    padding: 0.7em 1em;
}

.bus-system-list-view a.btn.btn-secondary {
    background-color: #607d8b;
    border-color: #ffffff;
}

.bus-system-list-view  .card-header {
    border: 1px solid #fff;
    padding: 0.55rem 1rem;
}

.bus-system-list-view span.badge-secondary {
    padding: 0.7em 0.5em;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.bus-system-list-view.card .table .thead-dark th a {
    color: #fff;
}
span.badge.badge-primary {
    padding: 8px;
}
body {
    background-color: #f9f9f9;
}

.common-list-table-view-ui div#search-area {
    padding-bottom: 13px;
}

.sidenav-header {
    background: url(https://gos3.ibcdn.com/bus-1616762332.png);
}
span.badge.badge-sm.badge-primary.price-amount-badge {
    display: inline-block;
    font-size: .85em;
    font-weight: 500;
    padding: 8px;
    letter-spacing: 1px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}


a.nav-link.mb-0.px-0.py-1.member-status.active {
    color: #fff;
    background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}


a.nav-link.mb-0.px-0.py-1.active.member-type {
    color: #fff;
    background-image: linear-gradient(310deg, #2196f3 0%, #5dcdff 100%);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    margin-left: 10px;
}

.register-form-ots{
    margin-top: -23rem !important;
}

a.btn.btn-secondary.seat-ticket-book-button{
    background: #fff;
    margin-right: 10px;
}

a.btn.btn-secondary.seat-ticket-book-button .fa {
    -webkit-transform: rotate(270deg);
    transform: rotate(316deg);
    color: #ff9800;
    font-size: 14px;
}

div#search-area .btn.btn-sm {
    margin-bottom: 0rem !important;
    padding-top: 5px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

div#search-area .btn.btn-sm i.fas.fa-search {
    font-size: 0.8rem;
}
div#search-area select#colName {
    padding-right: 17px;
    background: #e7e7e7;
    color: #878787;
}

div#search-area select#colValue {
    padding-left: 15px;
}
div#search-area input.form-control {
    padding-left: 15px;
}
