/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require style
*= require font-awesome/css/all.min
*= require jquery-confirm.min
*= require_self
*/

nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark.rounded {
    background: #1199c4!important;
    border-radius: 0 !important;
}

main.list-view-container.col-sm-9.ml-sm-auto.col-md-10.pt-3 {
    max-width: 100.00% !important;
    flex: 0 0 100%;
}

.bus-system-list-view.card .card-body {
    padding: 0;
}

.bus-system-list-view.card .table .thead-dark th {
    color: #fff;
    background-color: #03a9f4;
    border-color: #77b1cb;
    text-align: center;
    padding: 6px;
    font-size: 14px;
    font-weight: 400;
}

.bus-system-list-view .table-bordered th, .bus-system-list-view .table-bordered td {
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 0.2rem;
    vertical-align: middle;
}

.bus-system-list-view span.badge.badge-success {
    padding: 0.7em 1em;
}

.bus-system-list-view a.btn.btn-secondary {
    background-color: #607d8b;
    border-color: #ffffff;
}

.bus-system-list-view  .card-header {
    border: 1px solid #fff;
    padding: 0.55rem 1rem;
}

.bus-system-list-view span.badge-secondary {
    padding: 0.7em 0.5em;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}