.seat-panel{
	margin: auto;
	float: left;
	padding-left: 27%;
}
div .seatCharts-seat{
	width: 32px;
	height: 30px;
}
.seatCharts-row div:first-child{
	display: none;
}
.seatCharts-row div:nth-child(even){
	width: 30px;
}
div.seatCharts-seat.selected{
	background: black;
}
.booking-details{
	margin: auto;
	padding-right: 29%;
}
.seatCharts-cell.seatCharts-space {
	height: 30px;
	width: 30px;
}

.seatCharts-row.seatCharts-header {
	display: none;
}

div.seatCharts-seat.available {
	background-color: #2196f3;
}

div .seatCharts-seat {
	height: 35px;
	width: 70px;
	padding: 10px;
}

.seatCharts-row div:nth-child(even) {
	width: 70px;
}

.form-action-panel {
	padding: 10px;
}
span.seatCharts-legendDescription {
	font-size: 12px;
}

.seatCharts-legendItem .seatCharts-seat.seatCharts-cell {
	height: 25px;
	width: 50px;
}
.form-action-panel.top-right-corner {
	float: right;
}
