<div class="popup-panel-wrapper-tol">
	<div class="arrow" style="left: 50%;"></div>
	<h3 class="popover-title"><strong>Tanvir A4</strong>
		<button type="button" id="A4-close-popover" style="font-size: initial;" class="close pull-right">
			<i class="fa fa-times-circle"></i>
		</button>
	</h3>
	<div class="popover-content">

		<div class="table-responsive">
			<table class="table table-bordered">
				<tbody><tr>
					<td>Customer</td>

					<td>UNKNOWN</td>

				</tr>
				<tr>
					<td>Phone#</td>

					<td>
					                <span class="btn btn-link" style="cursor: pointer;">
                                    01000000000
                                </span>
					</td>

				</tr>
				<tr>
					<td>Counter</td>

					<td>Cold Store-2</td>

				</tr>

				<tr>
					<td>Sale By</td>

					<td>Md  Dider</td>

				</tr>
				<tr>
					<td>Type</td>

					<td>Sale</td>

				</tr>
				<tr>
					<td>Ticket Type</td>

					<td>Counter</td>

				</tr>

				<tr>
					<td>Destination</td>

					<td>Cold Store-2-Cox bazar</td>

				</tr>

				</tbody>
			</table>
		</div>

	</div>
</div>
